
body{
	min-width: 300px;
	background: black;
	}
.firstLine{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	border: 2px solid red;
}

.secondLine{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	border: 2px solid red;
}


.thirdLine{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	border: 2px solid red;
}

.thirdLine .six {
	width: 200px;
	min-width: 200px;
}

.firstLine .one{
	width:20%;
	background: green;
	text-align: left;
}
.firstLine .two{
	width:80%;
	background: blue;
	text-align: right;
}

.secondLine .three{
	width:50%;
	background:orange;
	text-align: center;
}
.secondLine .four{
	width:50%;
	background: pink;
	text-align: center;
}

.thirdLine .five{
	width:100%;
	background:purple;
	text-align: left;
}
.thirdLine .six{
	background: gray;
	text-align: left;
}

@media screen and (max-width: 600px) {
	.firstLine {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.secondLine {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.thirdLine {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.firstLine .one, .firstLine .two, .secondLine .three, .secondLine .four, .thirdLine .five {
		width:100%;
	}
}